@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');

body {
   background-image: linear-gradient(rgba(179, 255, 0, 0.454), rgba(255, 0, 85, 0.337)),url(/Images/wal2.webp);
   background-size: cover;
   
}

* {
   margin: 0;
   padding: 0;
}

nav {
   font-family: 'Ubuntu', sans-serif;
   box-shadow: 0 4px 17px rgba(39, 37, 37, 0.531);
   border-radius: 10px;
}

nav .logo {
   padding: 22px 20px;
   height: 90px;
   float: left;
   font-size: 20px;
   font-weight: bold;
   color: white;
   text-transform: uppercase;
}

nav ul {
   display: flex;
   position: sticky;
   align-items: center;
   background-color: black;
   height: 70px;
   list-style-type: none;
   color: white;
}

nav ul li a:hover {
   color: rgb(177, 177, 226);
   border-radius: 6px;

}

nav ul li a {
   line-weight: 80px;
   color: white;
   padding: 10px 20px;
   text-decoration: none;
   font-weight: bold;
   text-transform: uppercase;
}

nav ul li {
   padding: 0px 8px;
}

.brand img {
   padding: 3px 8px;
   width: 48px;
}

.brand {
   align-items: center;
   display: flex;
   font-weight: bolder;
   font-size: 1.3rem;
}

#sd {
   border: 3px solid;
   border-radius: 5px;
   border-color: black;
   box-shadow: 1px 2px 1px 2px grey;
   width: 700px;
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 10px;
   margin-left: 500px;
   margin-top: 400px;
   background-color: rgb(188, 182, 182);
   font-size: 20px;
   text-align: center;
}

marquee {
   position: sticky;
   background-color: greenyellow;
   font-size: 30px;
   margin-top: 720px;
   width: 100%;
   bottom: 0;
   display: flex;
}

nav .topnav {
   margin-left: 940px;
   box-shadow: 2px 2px 2px black;
}
nav .topnav input[type=text] {
   padding: 6px;
   margin-top: 3px;
   font-size: 17px;
   box-shadow: #e9e9e9;
   border-radius: 5px;
}
nav .topnav button {
   float: right;
   padding: 6px 10px;
   margin-top: 5px;
   font-size: 20px;
   border: none;
   cursor: pointer;
}

nav .topnav button:hover {
   background: #ccc;
} 