@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');

* {
   margin: 0;
   padding: 0;
}

nav {
   font-family: 'Ubuntu', sans-serif;
   box-shadow: 0 4px 17px rgba(39, 37, 37, 0.531);
}
.brand img {
   padding: 3px 8px;
   width: 48px;
}

.brand {
   align-items: center;
   display: flex;
   font-weight: bolder;
   font-size: 1.3rem;
}

nav ul {
   display: flex;
   position: sticky;
   align-items: center;
   background-color: black;
   height: 70px;
   list-style-type: none;
   color: white;
}

nav ul li {
   padding: 0px 8px; 
   border-bottom: 2px solid transparent;
   transition: 0.2s ease-in;
}
nav ul li a:hover {
   border-bottom: 2px solid white;
   transition: 0.2s ease-in;
}

nav ul li a {
   line-weight: 80px;
   color: white;
   padding: 10px 20px;
   text-decoration: none;
   font-weight: bold;
   text-transform: uppercase;
}

.hero-section{
      background-image: url(/Images/wal4.webp);
      height: 100vh;
      display: grid;
      place-items: center;
      color: white;
      text-align: center;
      background-position: center;
}

.hero-section .container{
   display: flex;
   flex-direction: column;
   gap: 30px;
}
.hero-section h1 {
   font-size: 96px;
 }
 .hero-section h3 {
   font-size: 32px;
 }